::-webkit-scrollbar {
  display: none;
}

.gitlab-icon {
  width: 1.2rem;
  margin-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;

  transition: all 0.2s;
}

.gitlab-icon:hover {
  color: #bdbdbd;
}

.button {
  transition: all 0.15s;
}

.foot {
  padding-bottom: 8px;
  color: rgba(245, 245, 245, 0.9);
}

.is-invis {
  opacity: 0;
}
